dev/open_eit/oeit/res/org/openeit/oeit/v1/oeit.2013.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://open-eit.org/2013/XMLSchema" elementFormDefault="qualified" xmlns="http://open-eit.org/2013/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      This schema represent a collaborative effort to unify the file enconding practices amongst EIT providers.

      Electrical impedance tomography (EIT) is a tomographic imaging technique that makes use of electrical currents injected into a body and of the resulting potential field to calculate the spatial distribution of electrical impedance.  This technique showed promising results in various fields of application like earth sciences, industrial process monitoring, and medical imaging.
    </xs:documentation>
  </xs:annotation>

  <!--  **************************************************************** -->
  <xs:element name="oeit" type="Oeit" >
    <xs:annotation>
      <xs:documentation xml:lang="en">
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!--  **************************************************************** -->
  <xs:complexType name="Acquisition">
    <xs:sequence>
      <xs:element name="stim_list" type="Stimulations" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="meas_list" type="Measurements" minOccurs="1" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="start" type="Time" use="optional"></xs:attribute>
    <xs:attribute name="duration" type="Time" use="optional"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="Amplitude">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?(A|V)"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Conductance">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?(S|Mho(s)?)"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Conductivity">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?(S|Mho(s)?)/([YZEPTGMkdcmuµnpfazy]|da)?m"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContactImpedance">
    <xs:restriction base="Impedance"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CoordinateSystem">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cartesian"></xs:enumeration>
      <xs:enumeration value="Cylindrical"></xs:enumeration>
      <xs:enumeration value="GPS (WGS84)"></xs:enumeration>
      <xs:enumeration value="Spherical"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Current">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?A"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DataAcquisitionSoftware">
    <xs:sequence>
      <xs:element name="name" type="Name" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="version" type="Version" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="manufacturer" type="Manufacturer" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Decode">
    <xs:attribute name="frame" type="xs:IDREF" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="Description">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element name="manufacturer" type="Manufacturer" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="model" type="Model" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="serial_number" type="SerialNumber" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="firmware" type="Firmware" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="data_acquisition_software" type="DataAcquisitionSoftware" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Devices">
    <xs:sequence>
      <xs:element name="device" type="Device" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Diameter">
    <xs:restriction base="Length"></xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Electrode">
    <xs:sequence>
      <xs:element name="position" type="Position" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="orientation" type="Orientation" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="position_accuracy" type="PositionAccuracy" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="contact_impedance" type="ContactImpedance" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
    <xs:attribute name="type" type="xs:IDREF" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="ElectrodeReference">
    <xs:sequence>
      <xs:element name="multiplier" type="Multiplier" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="offset" type="Offset" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:IDREF" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Electrodes">
    <xs:sequence>
      <xs:element name="coordinate_system" type="CoordinateSystem" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="position_description" type="PositionDescription" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="electrode" type="Electrode" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ElectrodeType">
    <xs:sequence>
      <xs:element name="manufacturer" type="Manufacturer" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="model" type="Model" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="material" type="Material" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="diameter" type="Diameter" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="thickness" type="Thickness" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="height" type="Height" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="width" type="Width" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="contact_impedance" type="ContactImpedance" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ElectrodeTypes">
    <xs:sequence>
      <xs:element name="electrode_type" type="ElectrodeType" maxOccurs="unbounded" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element name="description" type="Description" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NCName" use="required"></xs:attribute>
    <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="time" type="Time" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Events">
    <xs:sequence>
      <xs:element name="event" type="Event" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NCName" use="required"></xs:attribute>
    <xs:attribute name="type" type="FieldType" use="required"></xs:attribute>
    <xs:attribute name="unit" type="UnitType" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Fields">
    <xs:sequence>
      <xs:element name="field" type="Field" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="FieldType">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:enumeration value="uint8"></xs:enumeration>
      <xs:enumeration value="uint16"></xs:enumeration>
      <xs:enumeration value="uint32"></xs:enumeration>
      <xs:enumeration value="uint64"></xs:enumeration>
      <xs:enumeration value="int8"></xs:enumeration>
      <xs:enumeration value="int16"></xs:enumeration>
      <xs:enumeration value="int32"></xs:enumeration>
      <xs:enumeration value="int64"></xs:enumeration>
      <xs:enumeration value="float"></xs:enumeration>
      <xs:enumeration value="double"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Firmware">
    <xs:sequence>
      <xs:element name="name" type="Name" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="version" type="Version" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="manufacturer" type="Manufacturer" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData"  minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="File">
    <xs:sequence>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:anyURI" use="required"></xs:attribute>
    <xs:attribute name="start_frame" type="xs:integer" use="optional"></xs:attribute>
    <xs:attribute name="end_frame" type="xs:integer" use="optional"></xs:attribute>
    <xs:attribute name="start_time" type="Time" use="optional"></xs:attribute>
    <xs:attribute name="end_time" type="Time" use="optional"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Files">
    <xs:sequence>
      <xs:element name="file" type="File" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Force">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?N"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FrameType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="acquisition" type="Acquisition" minOccurs="1" maxOccurs="unbounded"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FrameTypes">
    <xs:sequence>
      <xs:element name="frame_type" type="FrameType" maxOccurs="unbounded" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Frequency">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?Hz"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Height">
    <xs:restriction base="Length"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Impedance">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?(Ω|O|Ohm(s)?)"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Length">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?m"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Log">
    <xs:sequence>
      <xs:element name="start_frame" type="xs:integer" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="end_frame" type="xs:integer" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="start_time" type="Time" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="end_time" type="Time" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:anyURI" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Logs">
    <xs:sequence>
      <xs:element name="log" type="Log" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Manufacturer">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Mass">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?g"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Material">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Measurement">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="elec" type="ElectrodeReference" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="xs:IDREF" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Measurements">
    <xs:sequence>
      <xs:element name="meas" type="Measurement" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MeasurementType">
    <xs:sequence>
      <xs:element name="frequency" type="Frequency" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="physical_property" type="PhysicalProperty" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="multiplier" type="Multiplier" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="offset" type="Offset" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="field_list" type="Fields" minOccurs="1" maxOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MeasurementTypes">
    <xs:sequence>
      <xs:element name="meas_type" type="MeasurementType" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Model">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Multiplier">
    <xs:restriction base="xs:decimal">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Name">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Oeit" id="oeit">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Oeit is the type of the root element of Open EIT descriptor XML documents.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="subject" type="Subject" maxOccurs="1"	minOccurs="1"></xs:element>
      <xs:element name="device_list" type="Devices" maxOccurs="1"	minOccurs="1"></xs:element>
      <xs:element name="electrode_type_list" type="ElectrodeTypes" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="electrode_list" type="Electrodes" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="stim_type_list" type="StimulationTypes" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="meas_type_list" type="MeasurementTypes"	maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="frame_type_list" type="FrameTypes" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="stream_list" type="Streams" maxOccurs="1" minOccurs="1"></xs:element>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="Offset">
    <xs:restriction base="xs:decimal">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OffsetTime">
    <xs:restriction base="xs:dateTime">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Orientation">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:anyAttribute processContents="lax" namespace="##any"></xs:anyAttribute>
  </xs:complexType>

  <xs:simpleType name="PhysicalProperty">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:enumeration value="Length"></xs:enumeration>
      <xs:enumeration value="Mass"></xs:enumeration>
      <xs:enumeration value="Time"></xs:enumeration>
      <xs:enumeration value="Electric Current"></xs:enumeration>
      <xs:enumeration value="Thermodynamic Temperature"></xs:enumeration>
      <xs:enumeration value="Amount of Substance"></xs:enumeration>
      <xs:enumeration value="Luminous Intensity"></xs:enumeration>
      <xs:enumeration value="Frequency"></xs:enumeration>
      <xs:enumeration value="Angle"></xs:enumeration>
      <xs:enumeration value="Solid Angle"></xs:enumeration>
      <xs:enumeration value="Force"></xs:enumeration>
      <xs:enumeration value="Weight"></xs:enumeration>
      <xs:enumeration value="Pressure"></xs:enumeration>
      <xs:enumeration value="Stress"></xs:enumeration>
      <xs:enumeration value="Energy"></xs:enumeration>
      <xs:enumeration value="Work"></xs:enumeration>
      <xs:enumeration value="Heat"></xs:enumeration>
      <xs:enumeration value="Power"></xs:enumeration>
      <xs:enumeration value="Radiant Flux"></xs:enumeration>
      <xs:enumeration value="Electric Charge"></xs:enumeration>
      <xs:enumeration value="Quantity of Electricity"></xs:enumeration>
      <xs:enumeration value="Voltage"></xs:enumeration>
      <xs:enumeration value="Electrical Potential Difference"></xs:enumeration>
      <xs:enumeration value="Electromotive Force"></xs:enumeration>
      <xs:enumeration value="Electric Capacitance"></xs:enumeration>
      <xs:enumeration value="Electric Resistance"></xs:enumeration>
      <xs:enumeration value="Impedance"></xs:enumeration>
      <xs:enumeration value="Reactance"></xs:enumeration>
      <xs:enumeration value="Electrical Conductance"></xs:enumeration>
      <xs:enumeration value="Magnetic Flux"></xs:enumeration>
      <xs:enumeration value="Magnetic Field Strength"></xs:enumeration>
      <xs:enumeration value="Magnetic Flux Density"></xs:enumeration>
      <xs:enumeration value="Inductance"></xs:enumeration>
      <xs:enumeration value="Temperature"></xs:enumeration>
      <xs:enumeration value="Luminous Flux"></xs:enumeration>
      <xs:enumeration value="Illuminance"></xs:enumeration>
      <xs:enumeration value="Radioactivity"></xs:enumeration>
      <xs:enumeration value="Absorbed Dose"></xs:enumeration>
      <xs:enumeration value="Equivalent Dose"></xs:enumeration>
      <xs:enumeration value="Catalytic Activity"></xs:enumeration>
      <xs:enumeration value="Area"></xs:enumeration>
      <xs:enumeration value="Volume"></xs:enumeration>
      <xs:enumeration value="Speed"></xs:enumeration>
      <xs:enumeration value="Velocity"></xs:enumeration>
      <xs:enumeration value="Volumetric Flow"></xs:enumeration>
      <xs:enumeration value="Acceleration"></xs:enumeration>
      <xs:enumeration value="Jerk"></xs:enumeration>
      <xs:enumeration value="Jolt"></xs:enumeration>
      <xs:enumeration value="Snap"></xs:enumeration>
      <xs:enumeration value="Jounce"></xs:enumeration>
      <xs:enumeration value="Angular Velocity"></xs:enumeration>
      <xs:enumeration value="Momentum"></xs:enumeration>
      <xs:enumeration value="Impulse"></xs:enumeration>
      <xs:enumeration value="Angular Momentum"></xs:enumeration>
      <xs:enumeration value="Torque"></xs:enumeration>
      <xs:enumeration value="Moment of Force"></xs:enumeration>
      <xs:enumeration value="Yank"></xs:enumeration>
      <xs:enumeration value="Wavenumber"></xs:enumeration>
      <xs:enumeration value="Area Density"></xs:enumeration>
      <xs:enumeration value="Density"></xs:enumeration>
      <xs:enumeration value="Mass Density"></xs:enumeration>
      <xs:enumeration value="Specific Volume"></xs:enumeration>
      <xs:enumeration value="Concentration"></xs:enumeration>
      <xs:enumeration value="Molar Volume"></xs:enumeration>
      <xs:enumeration value="Action"></xs:enumeration>
      <xs:enumeration value="Heat Capacity"></xs:enumeration>
      <xs:enumeration value="Entropy"></xs:enumeration>
      <xs:enumeration value="Molar Heat Capacity"></xs:enumeration>
      <xs:enumeration value="Specific Entropy"></xs:enumeration>
      <xs:enumeration value="Molar Energy"></xs:enumeration>
      <xs:enumeration value="Specific Energy"></xs:enumeration>
      <xs:enumeration value="Energy Density"></xs:enumeration>
      <xs:enumeration value="Surface Tension"></xs:enumeration>
      <xs:enumeration value="Stiffness"></xs:enumeration>
      <xs:enumeration value="Heat Flux Density"></xs:enumeration>
      <xs:enumeration value="Irradiance"></xs:enumeration>
      <xs:enumeration value="Thermal Conductivity"></xs:enumeration>
      <xs:enumeration value="Kinematic Viscosity"></xs:enumeration>
      <xs:enumeration value="Diffusion Coefficient"></xs:enumeration>
      <xs:enumeration value="Dynamic Viscosity"></xs:enumeration>
      <xs:enumeration value="Electric Displacement Field"></xs:enumeration>
      <xs:enumeration value="Polarization Vector"></xs:enumeration>
      <xs:enumeration value="Electric Charge Density"></xs:enumeration>
      <xs:enumeration value="Electric Current Density"></xs:enumeration>
      <xs:enumeration value="Conductivity"></xs:enumeration>
      <xs:enumeration value="Molar Conductivity"></xs:enumeration>
      <xs:enumeration value="Permittivity"></xs:enumeration>
      <xs:enumeration value="Permeability"></xs:enumeration>
      <xs:enumeration value="Electric Field Strength"></xs:enumeration>
      <xs:enumeration value="Magnetic Field Strength"></xs:enumeration>
      <xs:enumeration value="Luminance"></xs:enumeration>
      <xs:enumeration value="Luminous Energy"></xs:enumeration>
      <xs:enumeration value="Luminous Exposure"></xs:enumeration>
      <xs:enumeration value="Exposure"></xs:enumeration>
      <xs:enumeration value="Absorbed Dose Rate"></xs:enumeration>
      <xs:enumeration value="Resistivity"></xs:enumeration>
      <xs:enumeration value="Other"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Position">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="\[-?\d+(\.\d+)?\s*(,\s*-?\d+(\.\d+)?\s*){2}\]"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PositionAccuracy">
    <xs:restriction base="Length"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PositionDescription">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:enumeration value="Absolute"></xs:enumeration>
      <xs:enumeration value="Illustrative"></xs:enumeration>
      <xs:enumeration value="Relative"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Pressure">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?Pa"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Process">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="repeat" type="Repeat"></xs:element>
        <xs:element name="decode" type="Decode"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Radius">
    <xs:restriction base="Length"></xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Repeat">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="repeat" type="Repeat"></xs:element>
        <xs:element name="decode" type="Decode"></xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="number" type="xs:integer" use="optional"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="Resistance">
    <xs:restriction base="Impedance">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SerialNumber">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Stimulation">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="elec" type="ElectrodeReference" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="xs:IDREF" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Stimulations">
    <xs:sequence>
      <xs:element name="stim" type="Stimulation" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StimulationType">
    <xs:sequence>
      <xs:element name="amplitude" type="Amplitude" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="frequency" type="Frequency" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="wave" type="Wave" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="StimulationTypes">
    <xs:sequence>
      <xs:element name="stim_type" type="StimulationType" maxOccurs="unbounded" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Stream">
    <xs:sequence>
      <xs:element name="process" type="Process" minOccurs="1" maxOccurs="1"></xs:element>
      <xs:element name="file_list" type="Files" minOccurs="1" maxOccurs="1"></xs:element>
      <xs:element name="log_list" type="Logs" minOccurs="1" maxOccurs="1"></xs:element>
      <xs:element name="user_data" type="UserData" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
    <xs:attribute name="device" type="xs:IDREF" use="optional"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="Streams">
    <xs:sequence>
      <xs:element name="stream" type="Stream"  minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Subject">
    <xs:choice>
      <xs:sequence>
        <xs:element name="patient" type="Patient" minOccurs="1" maxOccurs="1"></xs:element>
        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
      </xs:sequence>
      <xs:sequence>
        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
      </xs:sequence>
    </xs:choice>
    <xs:attribute name="type" type="xs:string" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##any" processContents="lax"></xs:anyAttribute>
  </xs:complexType>

  <xs:simpleType name="Thickness">
    <xs:restriction base="Length"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Time">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?(s|minute(s)?|hour(s)?|day(s)?|week(s)?|month(s)?|year(s)?)"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UnitType">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?(m|g|s|A|K|mol|cd|Hz|rad|sr|N|Pa|J|W|C|V|F|Ω|O(hm(s)?)?|Wb|T|H|°C|lm|l(u)?x|Bq|Gy|kat)(^-?\d+)?(\s*\*\s*([YZEPTGMkdcmuµnpfazy]|da)?(m|g|s|A|K|mol|cd|Hz|rad|sr|N|Pa|J|W|C|V|F|Ω|O(hm(s)?)?|Wb|T|H|°C|lm|l(u)?x|Bq|Gy|kat)(^-?\d+)?)*"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:attribute name="key" type="xs:NCName" use="optional"></xs:attribute>
    <xs:anyAttribute processContents="lax" namespace="##any"></xs:anyAttribute>
  </xs:complexType>

  <xs:simpleType name="Version">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Voltage">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:pattern value="-?\d+(\.\d+)?\s*([YZEPTGMkdcmuµnpfazy]|da)?V"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Wave">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:attribute name="form" type="Waveform" use="optional"></xs:attribute>
    <xs:anyAttribute processContents="lax" namespace="##any"></xs:anyAttribute>
  </xs:complexType>

  <xs:simpleType name="Waveform">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse"></xs:whiteSpace>
      <xs:enumeration value="Sine"></xs:enumeration>
      <xs:enumeration value="Square"></xs:enumeration>
      <xs:enumeration value="Saw"></xs:enumeration>
      <xs:enumeration value="DC"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Width">
    <xs:restriction base="Length"></xs:restriction>
  </xs:simpleType>
</xs:schema>


